.venv/
.vscode/
__pycache__/
models/
data/
storage/
*.wav
*.mp3
*.mp4
*.zip
*.log
*.tmp
.t/
temp/
tmp/
*.pyc
apps/MediaComposer/config.toml
apps/MediaComposer/third_party/
apps/MediaComposer/ai_images/

